body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 40px;
}


#welcome-section{
    display: flex;
    vertical-align: middle;
    background-image: url(/assets/images/top-banner.png);
    background-repeat: no-repeat;
    background-position: cover;
    align-items: center;
    padding: 50px 0;
    padding-left: 6%;

    
}

#dream-big-section{
    display: flex;
    vertical-align: middle;
    background-image: url(/assets/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    align-items: center;
    padding: 50px 0;
    background-color: #f6f6f6;
    padding-right: 6%;
    padding-left: 6%;

}

.half-width{
    align-items: center;
    width: 50%;
    padding: 1%;
}
.half-width img{
    width: 70%;
    padding: 1%;
}


.link-btn{
    padding: 10px 40px;
    background-image: linear-gradient(to right, orange, tomato);
    border-radius: 8px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 4px 5px 0px 0px rgb(240, 192, 103);
}

.link-btn:hover{
    background-image: linear-gradient(to left, orange, tomato);
    transition-duration: 500ms;
    box-shadow: none;
}