body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 35px;
    line-height: 12px;
}

.heading-center{
    text-align: center;
}

.flexible-container{
    display: flex;
}


#welcome-section{
    display: flex;
    vertical-align: middle;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-position: cover;
    align-items: center;
    padding-left: 6%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 0%;
    
}

#dream-big-section{
    display: flex;
    vertical-align: middle;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    align-items: center;
    background-color: #ececec;
    padding-right: 6%;
    padding-left: 6%;
    padding-top: 50px;
    padding-bottom: 50px;

}

#experience-section{
    vertical-align: middle;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    align-items: center;
    padding-right: 6%;
    padding-left: 6%;
    padding-top: 100px;
    padding-bottom: 100px;

}


#contact{
    display: flex;
    vertical-align: middle;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    align-items: center;
    background-color: #ececec;
    padding-right: 6%;
    padding-left: 6%;
    padding-top: 100px;
    padding-bottom: 100px;
}


.half-width{
    align-items: center;
    width: 50%;
    padding: 1%;
}
.half-width img{
    width: 75%;
    padding: 1%;
}


.link-btn{
    padding: 10px 40px;
    background-image: linear-gradient(to right, orange, tomato);
    border-radius: 8px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 4px 5px 0px 0px rgb(240, 192, 103);
}

.link-btn:hover{
    background-image: linear-gradient(to left, orange, tomato);
    transition-duration: 500ms;
    box-shadow: none;
}


.orange-color{
    color: orange;
}

.blueviolet-color{
    color: blueviolet;
}

.experience-item{
    width: 46%;
    padding: 25px;
    background-color: white;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    text-align: justify;
}
#full-stack-dev{
    border-left: 10px solid orange;
}
#baby-dev{
    border-left: 10px solid blue;
}

.social_icons{
    display: flex;
    background-color: blueviolet;
    margin: 10px 3px 10px 3px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
}
.social_icons img{
 margin: 5px;
}
.social_icons:hover{
    background-color: orange;
    transition-duration: 300ms;
}


.contact-form{
    background-color: white;
    padding: 40px 60px 40px 60px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}
input{
    width: 96%;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
    padding-left: 2%;
    padding-right: 2%;
    border: 1px solid rgb(205, 205, 205);
    margin-top: 6px;
    margin-bottom: 6px;
}

input:hover{
    border: 1px solid orange;

}

textarea{
    width: 96%;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
    padding-left: 2%;
    padding-right: 2%;
    border: 1px solid rgb(205, 205, 205);
    margin-top: 6px;
    margin-bottom: 6px;
}

textarea:hover{
    border: 1px solid orange;

}

.btn-center{
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}



footer{
    background-color: rgb(80, 52, 1);
    margin: 0;
    padding: 5px;
}
footer p{
    text-align: center;
    color: white;
    line-height: 3px;
}

.custom-p{padding-bottom: 20px;}